{%extends 'base.html' %}

{% block content %}
<div class="header-section">
    <div class="hr-title-text container">

        <h3>Keeps You Organised and by on track with Work.</h3>
        <h6>Easy Todo Organiser for You.</h6>
    </div>

</div>
<!--form to create new items-->

<div class="create-todo-container container-fluid">
    <div class="row create-row">
        <div class="col-12 create-title">
            <h3>Create Task</h3>
            <p>Enter category and title for Your Task below </p>
        </div>
        <div class="col-12">
            <form name="item-form" action="{{url_for('add')}}" method="post">
                <div>
                    <select name="category" class="form-select">
                        <option selected> category</option>
                        <option value="Default" name="default">Default</option>
                        <option value="Work" name="work">Work</option>
                        <option value="Study" name="study">Study</option>
                    </select>
                </div>
                <div>
                    <input type="text" class="form-control" name="todo_title" id="todo_title"
                           placeholder="Type here to add task" maxlength="40">
                </div>
            </form>
        </div>
        <!--share button collapseable-->
        <div class="share-button col-2">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#share" role="button" aria-expanded="false"
               aria-controls="share">
                Share</a>
            <div class="collapse" id="share">
                <p>{{share.create(title='Via:', sites='facebook,twitter,google')}}</p>
            </div>
        </div>
        <div class="filter-button col-2">
            <!--filterbycategory-->
            <!--Dropdown menu-->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton41"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    FilterByCategory
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{url_for('filter', category='Default')}}">Default</a></li>
                    <li><a class="dropdown-item" href="{{url_for('filter', category='Work')}}">Work</a></li>
                    <li><a class="dropdown-item" href="{{url_for('filter', category='Study')}}">Study</a></li>
                    <li><a class="dropdown-item" href="{{url_for('filter', category='nofilter')}}">NoFilter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="todo-container container">
    <!--display all-ttodo list-->
    <div style="background-color: transparent;">
        <ul style="background-color: transparent;border:0px solid black;">
            {% for todo in todo_list:%}

            <li class="list-group-item" style="background-color: transparent;">

                <div class="task-first-line item-align">
                    <!--                checkbox for complete status-->
                    {%if todo.task_status:%}
                    <span class="check-mark"><i class="fa-solid fa-square-check"></i> </span>
                    {%endif%}

                    <!--                name display-->
                    <div class="name-date">
                        <h6 class="item-name">{{todo.title}}</h6>
                        <!--                    date display-->
                        {%if not todo.date:%}
                        <p class="item-date">No duedate</p>
                        {%else%}
                        <p class="item-date">{{todo.date}}</p>
                        {%endif%}
                    </div>
                    <span>
                     {%if todo.category == 'Study'%}
                     <i class="fa-solid fa-book">Study</i>
                     {%endif%}

                     {%if todo.category == 'Default'%}
                     <i class="fa-solid fa-house">Default</i>
                     {%endif%}

                     {%if todo.category == 'Work'%}
                     <i class="fa-solid fa-briefcase">Work</i>
                     {%endif%}
                 </span>
                    <form action="{{url_for('update', todo_id = todo.id)}}" method="post" class="date-form"
                          autocomplete="off">
                        <!--                Button for item completion update-->
                        <a class="btn btn-primary" href="{{url_for('complete', todo_id=todo.id)}}" role="button">
                            Update Status</a>


                        <div class="date-edit-container">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#calendar" role="button"
                               aria-expanded="true" aria-controls="calendar">
                                Update Date</a>
                            <div class="collapse" id="calendar" style="margin-top:1%;">
                                <div>
                                    <input type="date" id="DueDate{{todo.id}}" name="date"
                                           onchange="this.form.submit()"/>
                                    <span><i class="fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="delete-button">
                            <a class="btn btn-primary" href="{{url_for('delete',todo_id=todo.id)}}" role="button">
                                Delete Task</a>
                        </div>
                    </form>
                </div>
            </li>

            {%endfor%}
        </ul>
    </div>
</div>


{% endblock %}
